<meta charset="utf-8">
<title>test-vue-plugin demo</title>
<script src="./test-vue-plugin.umd.js"></script>

<link rel="stylesheet" href="./test-vue-plugin.css">


<script>
console.log(test-vue-plugin)
</script>
