<template>
  <div class="banner">
    <div class="banner__header">
      <h2>{{ heading }}</h2>
    </div>
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class App extends Vue {
  private heading: string = 'Banner heading';
}
</script>

<style lang="scss">
.banner {
  background: pink;

  &__header {
    color: palegoldenrod;
  }
}
</style>
