<template>
  <div class="creator">
    <span class="creator__text">{{ text }}</span>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class App extends Vue {
  @Prop({
    type: String,
    required: true,
  })
  private readonly text!: string;
}

</script>

<style lang="scss">
.creator {
  background: rebeccapurple;

  &__text {
    color: greenyellow;
  }
}
</style>
