<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Creator text="Welcome to Your Vue.js + TypeScript App"/>
    <Banner>
      Banner slotting boyz
    </Banner>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Creator from './components/Creator.vue';
import Banner from './components/Banner.vue';

@Component({
  components: {
    Creator,
    Banner,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
